.md-typeset table:not([class]) th, 
.md-typeset table:not([class]) td {
  border-right: 1px solid var(--md-typeset-table-color, rgba(255, 255, 255, 0.12));
}

.md-typeset table:not([class]) th:first-child, 
.md-typeset table:not([class]) td:first-child {
  border-left: 1px solid var(--md-typeset-table-color, rgba(255, 255, 255, 0.12));
}

.md-typeset table:not([class]) tbody tr {
  border-bottom: 1px solid var(--md-typeset-table-color, rgba(255, 255, 255, 0.12));
}
